@import '~bootstrap/scss/functions';
@import './helpers/variables';
@import '~bootstrap/scss/bootstrap';

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

section {
  padding: 20px 0;
}

.section {
  padding-top: 96px;
}

.header {
  padding-top: 75.75px;
}

.music-play {
  display: block;
  position: relative;
  &:hover .playbox {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 23px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .playbox{
    display: none;
  }
  .onplay {
    height: 100%;
    color: white;
  }
}

.bg-images {
  background-image: url(./assets/images/desi-mendoza-CuSHBGBdXc0-unsplash.jpg);
  background-position: center center;
  background-size: cover;
  height: 500px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .bg-text {
    z-index: 1;
  }
  &::after{
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(0, 37, 26, 0.5);
  }
}

.hex-text {
  color:white;
  &:hover {
    color: #69F0AE;
  }
}

.hex-text-dark {
  color:#00251a;
  &:hover {
    color: #69F0AE;
  }
}

.sub-title {
  text-decoration: none;
  background-size: 100% 80%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top,#69f0ae 50%,rgba(0,0,0,0) 50.1%);
  background-position: left 0 bottom 0;
}

.z-index-1 {
  z-index: 1;
}